body{
	background: #282828;

}

.container{
	width: 80%;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.carousel-container{
	width: 100%;
	height: 400px;
    position: relative;
    overflow: hidden;
}
.carousel{
	padding: 0;
	margin: 0;
    list-style: none; 
    transition: 300ms transform ease-in;
}
.slide{
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.slide img{
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: 0;
	cursor: pointer;
}


.btn:hover{
	zoom: 1.1;
}


.btn img{
	width: 20px;
	height: 20px;
}
.left-btn{
	left: -35px;
}
.right-btn{
 	right: -35px;
}

.nav{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(248, 115, 115, 0.829);
	width: 100%;
	height: 30px;
	position: absolute;
	top: 400px;
	display: flex;
	justify-content: center;
}
.nav .dot{
	background: rgba( 255, 255, 255,0.3);
	width: 15px;
	height: 15px;
	margin: 8px 10px;
	cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.dot.active{
	background: #0ce;
}
.dot.active:hover{
	background: rgb(69, 216, 241);
}
.hide{
	display: none;
}




